server:
  http:
    addr: 0.0.0.0:8001
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9001
    timeout: 3s
  register:
    #default register k8s
    type: 1
    kube_config:
      kube_config_path: "/Users/pg/.kube/config"
    services_name: "/gameim/logic/app001"
data:
  mysql:
    dsn_master: gameim:pg719&1996@tcp(gameim.mysql.polardb.rds.aliyuncs.com:3306)/gameim
    dsn_slave: ["gameim:pg719&1996@tcp(gameim.mysql.polardb.rds.aliyuncs.com:3306)/gameim"]
    max_idle_connection: 30
    max_open_connection: 30
    connection_max_lifetime: 300s
    log_level: info
  redis:
    addr: ssh.2pg.cn:31875
    read_timeout: 0.2s
    write_timeout: 0.2s
    keeplive: 20s
    pool_size: 10
  kafka:
    topic: "gameim-comet-0" # topic name example server.name-queue.topic
    bootstrapServers: ["ckafka-bzmjpd9e.ap-guangzhou.ckafka.tencentcloudmq.com:50000"]
    consumerGroupId: gameim-comet-0  # group name example server.name-queue.group
    partition_num: 3
    sasl:
      username: "ckafka-bzmjpd9e#pg"
      password: "pg719&1996"
      instanceId: "ckafka-bzmjpd9e"

